/*-------------------------------------------------- 1024px ------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    .header {
        height: 69px;
    }

    .header-wrapper {
        max-width: 768px;
        height: 69px;
        padding: 0 20px;
    }

    .header-wrapper > div {
        height: 69px;
    }

    .header-wrapper .header-left .navigation {
        display: none;
    }

    .header-right > div:nth-child(2) {
        display: none;
    }

    .header-right > div.mobile-menu {
        display: block;
    }

    .main-wrapper {
        max-width: 768px;
        padding: 20px 13px 0;
    }

    .home-banner > div {
        display: block;
    }

    .home-banner > div.main-img {
        max-width: 742px;
        margin: 0 auto;
    }

    .home-banner > div.main-img img {
        width: 100%;
    }

    .home-banner > div.most-read-list {
        max-width: 742px;
        margin: 12px auto 0;
        text-align: center;
    }

    .most-read-list .most-read-imgs {
        display: inline-block;
        /*width: 238px;*/
        width: 31.9%;
        height: 238px;
        margin-right: 14px;
    }

    .most-read-list .most-read-imgs:nth-child(3) {
        margin-right: 0;
    }

    .most-read-imgs-title {
        min-height: 60px;
    }

    .news-item {
        width: 48.9%;
        height: auto;
        padding: 9px;
        margin: 0 0 12px 0;
    }

    .news-item:nth-child(odd) {
        margin-right: 15px;
    }

    .news-item .news-text {
        padding: 12px 5px 25px;
        min-height: 143px;
    }

    .footer-wrapper {
        max-width: 768px;
        padding: 0 13px;
    }

    .footer-about {
        padding: 30px 20px;
    }

    .footer-text {
        padding: 30px 20px;
    }

    .post-wrapper .main-wrapper {
        max-width: 100%;
        padding: 0;
    }

    .post-content .post-desc {
        width: calc(100% - 196px);
        margin-right: 24px;
    }

    .post-navigate {
        margin: 27px 18px;
        padding: 0 8px;
    }

    .post-about-author {
        width: auto;
        padding: 10px 25px;
        margin: 0 13px;
    }

    .related-posts-wrapper .related-posts-list {
        padding: 0 13px;
        text-align: center;
    }

    .related-posts-wrapper .related-posts-list > div {
        margin-right: 14px;
    }

    .related-posts-wrapper .related-posts-list > div:nth-child(2) {
        margin-right: 0;
    }

    .related-posts-wrapper .related-posts-list > div:last-child {
        display: none;
    }

    .related-posts-item {
        width: 48.7%;
    }

    .related-posts-text {
        text-align: left;
        padding: 0 5px;
    }

    article.loop-item {
        height: 200px;
        margin-bottom: 15px;
    }

}

/*-------------------------------------------------- 768px ------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .most-read-list .most-read-imgs {
        /*width: 183px;*/
        height: 183px;
        margin-right: 12px;
    }

    .home-content {
        margin: 30px 0 0;
    }

    .news-item:nth-child(odd) {
        margin-right: 12px;
    }

    .news-item .news-text {
        min-height: 156px;
    }

    article.loop-item .cat-item-img {
        width: 240px;
    }

    article.loop-item .cat-item-details {
        width: calc(100% - 256px);
    }

}

/*-------------------------------------------------- 600px ------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .header-right > div.mobile-menu {
        margin: auto 0px auto 7px;
    }

    .main-wrapper {
        padding: 8px 9px 0;
    }

    .hero-text {
        bottom: 0;
        left: 0;
        right: 0;
        bottom: 7px;
        margin-left: auto;
        margin-right: auto;
        width: 97%;
        height: auto;
    }

    .hero-text p {
        font-size: 18px;
    }

    .home-banner > div.main-img {
        min-height: 215px;
        height: 220px;
    }

    .home-banner > div.most-read-list {
        margin: 8px auto 0;
    }
    .most-read-list .most-read-imgs {
        width: 100%;
        margin-right: auto;
        margin-bottom: 8px;
        height: 170px;
    }

    .most-read-imgs-title {
        /*height: 29px;*/
        min-height: auto;
    }

    .most-read-imgs-title p {
        font-size: 13px;
    }

    .news-item {
        width: 100%;
        padding: 8px;
        margin: 0 0 8px 0;
    }

    .news-item:nth-child(odd) {
        margin-right: auto;
    }

    .news-item .news-text {
        min-height: auto;
    }

    .post-breadcrumb {
        font-size: 12px;
    }

    .post-title {
        font-size: 22px;
    }

    .post-details {
        font-size: 13px;
    }

    .post-content .post-desc {
        font-size: 12px;
    }

    .post-content .post-desc {
        width: 100%;
        margin-right: auto;
    }

    .post-content .post-banner {
        display: none;
    }

    .post-notes {
        width: 100%;
    }

    .post-navigate {
        font-size: 14px;
    }

    .post-about-author {
        font-size: 13px;
    }

    .related-posts-wrapper {
        margin: 60px 0 70px;
    }

    .related-posts-wrapper .related-posts-list > div {
        margin-right: auto;
        margin-bottom: 8px;
    }

    .related-posts-item {
        width: 100%;
    }

    .footer-wrapper {
        margin: 40px auto 15px;
    }

    article.loop-item {
        height: auto;
        margin-bottom: 8px;
    }

    article.loop-item .cat-item-img {
        width: 100%;
    }

    article.loop-item .cat-item-details {
        width: 100%;
    }
}







/*------------------------------------------ THIS IS THE EURO RESPONSIVE STYLE ----------------------------------  */


/*-------------------------------------------------- 1024px ------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    .euro-main-vid{
            width: 100%;
        margin-bottom: 10px;
    }

     .home-banner > div.euro-most-read-list{
        width: 100%;
        max-width:100%;
    }
    .euro-sm-cont {
        flex-wrap: wrap;
    }
    .euro-news-item-thumb{
        width: 178px;
    }
    .euro-news-item-thumb .euro-news-sm-img{
        height: 106px;
    }
}

/*-------------------------------------------------- 991px ------------------------------------------------------*/
@media only screen and (max-width: 991px) {
        .home-banner > div.euro-most-read-list{
        width: 100%;
        max-width:100%;
}

/*-------------------------------------------------- 768px ------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .home-banner > div.euro-main-vid{
        margin-right: 0px;
    }
    .euro-sm-cont{
        justify-content: center;
    }
}

/*-------------------------------------------------- 600px ------------------------------------------------------*/
@media only screen and (max-width: 600px) {
.euro-sm-cont{
        justify-content: center;
    }
    .euro-news-item-thumb{
        width: 100%;
    }

    .euro-news-wrapper-inner{
        display: block;
    }
    .euro-news-item{
        width: 100%;
    }

    .home-banner > div.euro-main-vid{
        width: 100%;
        min-width:100%;
    }
    .euro-main-text-container h2, .euro-most-read-list h2, .euro-news-wrapper h2 {
    font-size: 22px;
    }
    .euro-home-content{
        margin: 10px 0 0;
    }
}

/*-------------------------------------------------- 480px ------------------------------------------------------*/
@media only screen and (max-width: 480px) {
    .post-content iframe {
        height: 190px;
    }
    .euro-main-text-container h2, .euro-most-read-list h2, .euro-news-wrapper h2{
        font-size: 22px;
    }

    .euro-main-text-container{
        position: relative;
    }

    .home-banner > div.euro-main-vid{
        width:100%;
        min-width:100%;
        height:auto;
    }

    .euro-main-vid{
        height: 265px;
    }

    .euro-main-text-container{
        padding-top: 10px;
    }
    .euro-home-cta{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        max-width: 420px;
        width: 100%;
    }

    .euro-most-read-list .euro-most-read-imgs a{
        display: block;
    }

    .euro-most-read-list .euro-most-read-imgs{
        width: 100%;
        height: auto;
        display: block;
        overflow: auto;
    }

    .euro-most-read-list .euro-most-read-imgs img{
        height: 165px;
        width: 100%;
    }
    .euro-most-read-imgs-title{
        width: 100%;
    }
    .euro-thumb-desc-wrapper{
        display: block;
    }

    .euro-thumb-desc-wrapper .euro-thumb-desc{
        width: 100%;
    }
    .euro-thumb-desc-wrapper .euro-thumb-desc:first-child{
        margin-bottom: 35px;
    }
}

/*-------------------------------------------------- 390px ------------------------------------------------------*/
@media only screen and (max-width: 390px) {
    .avg90-inplay-btn-container, .avg90-inplay-text {
        font-size: 14px;
    }
    input[type="search"].search-input{
        width: 130px;
    }
}
