* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none !important;
}

/* clear */
.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}
.clear {
    *zoom: 1;
}

/*----------------*\
    GENERAL
\*----------------*/

@font-face {
    font-family: 'Lato-Regular';
    src: url('../../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
         url('../../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'),
         url('../../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
         url('../../fonts/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'),
         url('../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BreuerText';
    src: url('../../fonts/BreuerText/BreuerText.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/BreuerText/BreuerText.woff') format('woff'),
         url('../../fonts/BreuerText/BreuerText.ttf')  format('truetype'),
         url('../../fonts/BreuerText/BreuerText.svg#BreuerText') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('../../fonts/HelveticaNeueRegular/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeueRegular/HelveticaNeueRegular.woff') format('woff'),
         url('../../fonts/HelveticaNeueRegular/HelveticaNeueRegular.ttf')  format('truetype'),
         url('../../fonts/HelveticaNeueRegular/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('../../fonts/HelveticaNeueMedium/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeueMedium/HelveticaNeueMedium.woff') format('woff'),
         url('../../fonts/HelveticaNeueMedium/HelveticaNeueMedium.ttf')  format('truetype'),
         url('../../fonts/HelveticaNeueMedium/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../../fonts/HelveticaNeueLight/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeueLight/HelveticaNeueLight.woff') format('woff'),
         url('../../fonts/HelveticaNeueLight/HelveticaNeueLight.ttf')  format('truetype'),
         url('../../fonts/HelveticaNeueLight/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../fonts/Helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Helvetica/Helvetica.woff') format('woff'),
         url('../../fonts/Helvetica/Helvetica.ttf')  format('truetype'),
         url('../../fonts/Helvetica/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('../../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.otf')  format('opentype'),
         url('../../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.woff') format('woff'),
         url('../../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.ttf')  format('truetype'),
         url('../../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url('../../fonts/Helvetica-Light/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Helvetica-Light/Helvetica-Light.woff') format('woff'),
         url('../../fonts/Helvetica-Light/Helvetica-Light.ttf')  format('truetype'),
         url('../../fonts/Helvetica-Light/Helvetica-Light.svg#Helvetica-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-UltLt';
    src: url('../../fonts/HelveticaNeueLTStd-UltLt/HelveticaNeueLTStd-UltLt.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeueLTStd-UltLt/HelveticaNeueLTStd-UltLt.otf')  format('opentype'),
         url('../../fonts/HelveticaNeueLTStd-UltLt/HelveticaNeueLTStd-UltLt.woff') format('woff'),
         url('../../fonts/HelveticaNeueLTStd-UltLt/HelveticaNeueLTStd-UltLt.ttf')  format('truetype'),
         url('../../fonts/HelveticaNeueLTStd-UltLt/HelveticaNeueLTStd-UltLt.svg#HelveticaNeueLTStd-UltLt') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #252835;
    color: #ffffff;
}

body.mobile-active {
    overflow: hidden;
}

h1, h2, h3 {
    margin: 0;
}

/*----------------*\
    HEADER
\*----------------*/

.header {
    width: 100%;
    height: 60px;
    background-color: #f01e28;
    z-index: 1;
    position: relative;
}

.header-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 60px;
}

.header-wrapper > div {
    display: flex;
    height: 60px;
}

.header-wrapper .header-left {
    float: left;
    padding-top: 13px;
}

.header-wrapper .header-left > div {
    display: inline-block;
    margin: auto;
}

.header-wrapper .header-left .logo-img {
    height: 18px;
}

.header-wrapper .header-left .navigation {
    margin-left: 30px;
}

.header-wrapper .header-left .navigation nav.nav {

}

.header-wrapper .header-left .navigation nav.nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-wrapper .header-left nav.nav > ul > li.menu-item {
    font-family: Lato-Regular;
    font-size: 11px;
    line-height: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.header-wrapper .header-left nav.nav > ul > li.menu-item > a {
    color: #ffffff;
    padding: 14px 10px;
    display: block;
    border-bottom: 3px solid transparent;
}

.header-wrapper .header-left nav.nav > ul > li.menu-item:hover > a {
    border-bottom: 3px solid #ffffff;
}

.header-wrapper .header-left nav.nav > ul > li.menu-item:hover > ul {
    display: block;
}

.header-wrapper .header-left nav.nav ul.sub-menu {
    display: none;
    position: absolute;
    top: 45px;
    margin: 0;
    padding: 0;

    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
    width: 400%;
    background-color: #c81a21;
}

.header-wrapper .header-left nav.nav ul.sub-menu > li {
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
    width: 100%;
}

.header-wrapper .header-left nav.nav ul.sub-menu > li > a {
    color: #ffffff;
    display: block;
}

.header-wrapper .header-right {
    float: right;
}

.header-right > div {
    display: inline-block;
    margin: auto;
}

@media only screen and (max-width: 320px){
    .header-right > div{
        display:none;
    }
}

.header-right > div.mobile-menu {
    background: url('../../img/hamburg-menu.png') center top no-repeat;
    width: 22px;
    height: 16px;
    background-size: cover;
    margin: auto 10px auto 10px;
    cursor: pointer;
    display: none;
}

.header-right > div.mobile-menu a {
    display: block;
    width: 100%;
    height: 100%;
}

.cur-link-active > a {
    border-bottom: 3px solid #ffffff !important;
}

.sub-menu .cur-link-active > a {
    border-bottom: none !important;
    font-weight: bold;
}

.sub-menu .cur-link-active > a:before{
    content: ">>";
    color: #ffffff;
    margin-right: 5px;
    font-size: 15px;
}


#mobile-menu .cur-link-active > a{
    border-bottom: none !important;
}

nav#mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #c81a21;
    height: 100%;
    width: 250px;
    text-transform: uppercase;
    font-size: 13px;
    /*display: none;*/
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    overflow-y:scroll;
}

nav#mobile-menu.active {
    right: 0;
    opacity: 1;
}

nav#mobile-menu .mobile-menu-close {
    text-align: right;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

nav#mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav#mobile-menu ul > li {
    border-bottom: 1px solid #ffffff;
/*     text-align: right; */
    position: relative;
}

nav#mobile-menu ul > li > a {
    color: #ffffff;
    display: block;
    padding: 10px 20px;
}

/* nav#mobile-menu ul > li:hover > ul {
    display: block;
} */

nav#mobile-menu ul > li > ul {
    display: none;
/*     -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s; */
}

nav#mobile-menu ul > li > ul > li {
    background-color: #8c151a;
        padding-left: 20px;
}

nav#mobile-menu ul > li > ul > li > a {
    padding-right: 30px;
}


#mobile-menu > ul li.menu-item-has-children> span > i:not(.fa-active){
    display: none;
}

nav#mobile-menu ul > li.menu-item-has-children>span{
    position: absolute;
    width: 20%;
    height: 35px;
    display: block;
    top: 0px;
    right: 0;
    border-left: 1px solid gainsboro;
}

nav#mobile-menu ul > li.menu-item-has-children>span>i{
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(70%);
    -ms-transform: translateX(-50%) translateY(70%);
            transform: translateX(-50%) translateY(70%);

}

nav#mobile-menu ul > li > a {
    width: 80%;
}


.header-login-btn {
    width: auto;
    display: inline-block;
    height: 26px;
    border-radius: 3px;
    background-color: #78be20;
    text-transform: uppercase;

    font-family: 'Lato-Regular';
    font-size: 11px;
    /*font-weight: bold;*/
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.01px;
    color: #ffffff;
    padding: 5px 17px;
    margin-right: 13px !important;
    cursor: pointer;
}

form.search {
    position: relative;
}

input[type="search"].search-input {
    width: 162px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(200,26,33, 0.7);

    opacity: 0.6;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    text-align: left;
    padding: 0 28px 0 15px;
    border: 1px solid transparent;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

input[type="search"].search-input:hover {
    border: 1px solid #ffffff;
}

input[type="search"].search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
}
input[type="search"].search-input::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
}
input[type="search"].search-input:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
}
input[type="search"].search-input:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

.fa-search {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 11px;
    top: 8px;
    font-size: 14px;
}

/*----------------*\
    MAIN
\*----------------*/

main {
    width: 100%;
    min-height: 700px;
    background-color: #252835;
}

.main-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0 0;
}

.home-banner {
    font-size: 0;
}

.home-banner > div {
    display: inline-block;
    vertical-align: top;
}

.home-banner > div.main-img {
    max-width: 700px;
    height: 420px;
    margin-right: 19px;
    position: relative;
    width: 100%;
}

.home-banner > div.main-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.home-banner > div.most-read-list {
    max-width: 305px;
}

.hero-text {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 10px;
    width: 438px;
/*       height: 74px; */
    min-height: 74px;
    height:auto;
      background-color: rgba(240, 30, 40, 0.85);
      padding: 10px 15px;
}

.hero-text p {
    font-size: 22px;
      font-weight: normal;
      line-height: 1.09;
      letter-spacing: 0px;
      font-family: Lato-Regular;
      color: #ffffff;
      margin: auto;
}

.most-read-list .most-read-imgs {
    width: 305px;
      height: 128px;
    margin-bottom: 18px;
    position: relative;
}

.most-read-list .most-read-imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

.most-read-list .most-read-imgs:last-child {
    margin-bottom: 0;
}

.most-read-imgs-title {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    min-height: 30px;
      background-color: rgba(240, 30, 40, 0.85);
      padding: 5px 10px;
}

.most-read-imgs-title p {
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto-Regular;
    color: #ffffff;
    margin: auto 0;
}

.home-content {
    margin: 40px 0 0;
}

.news-section-title {
    font-family: BreuerText;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 20px;
}

.news-wrapper {
    font-size: 0;
}

.news-item {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 358px;
    background-color:#201f26;
    padding: 8px;
    margin: 0 32px 32px 0;
}

.news-item:nth-child(3n+3) {
    margin-right: 0;
}

.news-item .news-img {
    /*max-width: 308px;*/
    height: 175px;
    overflow:hidden;
}

.news-item .news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-item .news-img img:hover{
    transform: scale(1.1);
    transition: all 500ms;
}


.news-item .news-text {
    font-family: Lato-Regular;
    font-size: 13px;
    min-height: 130px;
    letter-spacing: normal;
    color: #ffffff;
    padding: 12px 5px;
}

.news-item .news-text .news-title {
    font-size: 13px;
    line-height: normal;
}

.news-item .news-text .news-title a {
    color: #ffffff;
}

.news-item .news-text .news-title a:hover {
    text-decoration: underline;
}

.news-item .news-text .news-desc {
    font-size: 11px;
    line-height: 1.27;
}

.news-item .news-text .news-desc a {
    color: #ffff00;
    font-style: italic;
}

.news-item .news-btn {
    width: 100%;
    height: 36px;
      border-radius: 2px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(118, 118, 118, 0.72)));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(118, 118, 118, 0.72));
      display: flex;
      cursor: pointer;
}

.news-item .news-btn:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.72)));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.52));
}

.news-item .news-btn span {
    font-family: Lato-Regular;
    font-size: 13px;
      font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: auto;
}
.news-item .news-btn span a {
    color: #ffffff;
}

/*----------------*\
    POST
\*----------------*/

article.type-post {
    background-color: #ffffff;
}

article.post-blank {
    padding: 50px 25px;
    background-color: #201f26;
    color: #ffffff;
}

article.type-post img {
    width: 100%;
    height: auto;
}

.post-body {
    padding: 30px 27px;
}

.post-breadcrumb {
    font-family: Lato-Regular;
    font-size: 13px;
    line-height: 1.43;
    letter-spacing: 0px;
    color: #07294b;
}
.post-breadcrumb a:not(last-child){
    color: #551A8B;
}

.post-breadcrumb a:not(last-child):hover{
    color: #7424bd;
}

.post-title {
    font-family: Lato-Regular;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #07294b;
}

.post-details {
    font-family: Lato-Regular;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0px;
    color: #07294b;
}

.post-details .author {
    font-weight: bold;
}

.post-details .author a {
    color: #07294b;
    text-decoration: underline;
}

.post-details .date {

}

.post-btn {
    width: 206px;
      height: 38px;
    border-radius: 2px;
    background-color: #8bbd23;
    display: flex;
    cursor: pointer;
}

.post-main-btn {
    margin: 20px 0;
}
.post-btn a{
    height:100%;
    width:100%;
    font-family: Lato-Regular;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
}

.post-btn span {
    font-family: Lato-Regular;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: auto;
    text-transform: uppercase;
    position: relative;
    top: 25%;
}

.post-content {
    font-size: 0;
}

.post-content > div {
    display: inline-block;
    vertical-align: top;
}

.post-content .post-desc {
    width: 729px;
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0px;
    color: #1a1212;
    margin-right: 66px;
}

.btns-wrapper {
    margin: 40px 0 30px;
}

.btns-wrapper > div {
    display: inline-flex;
    margin-bottom: 10px;
}

.btns-wrapper > div:first-child {
    margin-right: 10px;
}

.post-content .post-banner {
    width: 172px;
}

.post-content .post-banner > div {

}

.post-content .post-banner > div:nth-child(1) {
    margin-bottom: 15px;
}

.post-notes {
    background-color: #f1f1f1;
    width: 542px;
    padding: 20px;
}

.post-notes .post-notes-title {
    font-family: Lato-Regular;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: 0px;
    color: #07294b;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;
}

.post-notes .post-notes-list {

}

.post-notes .post-notes-list .post-notes-item {
    font-size: 0;
}

.post-notes .post-notes-list .post-notes-item > div {
    display: inline-block;
}

.post-notes-item .post-notes-item-title {
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0px;
    color: #07294b;
    width: 80%;
}

.post-notes-item .post-notes-item-score {
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    letter-spacing: 0px;
    text-align: right;
    color: #07294b;
    width: 20%;
    text-align: right;
}

.post-soc-med {
    text-align: center;
    margin: 40px 0 15px;
}

.post-soc-med-item {
    display: inline-block;
    vertical-align: top;
}

.post-soc-med-item img.post-soc-med-img {
    width: 38px;
}

.post-navigate {
    font-family: Lato-Regular;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0px;
    color: #ffffff;
    margin: 30px 5px;
    display: block;
}

.post-about-author {
    background-color: #201f26;
    width: 100%;
    padding: 25px 30px;

    font-family: Lato-Regular;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0px;
    color: #ffffff;
}

.post-about-author .paa-title {

}

.post-about-author .paa-name {
    font-size: 16px;
    font-weight: bold;
    color: #4a90e2;
}

.post-about-author .paa-about {

}

.post-navigate {
    font-family: Lato-Regular;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0px;
    margin: 30px 5px;
}

.post-navigate > div {
    width: 45%;
}

.post-navigate .post-navigate-left {
    float: left;
}

.post-navigate .post-navigate-right {
    float: right;
    text-align: right;
}

.post-navigate a {
    color: #ffffff;
}

.post-navigate a:hover {
    text-decoration: underline;
}


.related-posts-wrapper {
    margin: 60px 0 100px;
}

.related-posts-wrapper .related-posts-header {
    font-family: BreuerText;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.related-posts-wrapper .related-posts-list {
    font-size: 0;
}

.related-posts-wrapper .related-posts-list > div {
    margin-right: 32px;
}

.related-posts-wrapper .related-posts-list > div:last-child {
    margin-right: 0;
}

.related-posts-item {
    display: inline-block;
    vertical-align: top;
    background-color: #201f26;
    width: 320px;
      height: 270px;
      padding: 8px;
}

.related-posts-img {
    /*max-width: 308px;*/
    height: 176px;
}

.related-posts-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.related-posts-text {

}

.related-posts-text .related-posts-details {
    font-family: Lato-Regular;
    font-size: 12px;
    line-height: 1.75;
    color: #b8b8b9;
}

.related-posts-text .related-posts-details .rpd-author {
    text-decoration: underline;
}

.related-posts-text .related-posts-details .rpd-author a {
    color: #b8b8b9;
}

.related-posts-text .related-posts-title {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #ffffff;
}

.related-posts-text .related-posts-title a {
    color: #ffffff;
}

.related-posts-text .related-posts-title a:hover {
    text-decoration: underline;
}

/*----------------*\
    CATEGORY
\*----------------*/

.category-title {
    font-size: 24px;
}

article.loop-item {
    background-color: #201f26;
    padding: 8px;
    height: 150px;
    margin-bottom: 32px;
}

article.loop-item > div {
    display: inline-block;
    vertical-align: top;
}

article.loop-item .cat-item-img {
    width: 300px;
    height: 100%;
    margin-right: 10px;
}

article.loop-item .cat-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article.loop-item .cat-item-details {
    width: calc(100% - 316px);
}

article.loop-item .cat-item-details h2 {
    font-size: 16px;
}

article.loop-item .cat-item-details h2 a {
    color: #ffffff;
}

article.loop-item .cat-item-details h2 a:hover {
    text-decoration: underline;
}

article.loop-item .cat-item-details .cat-item-dateauthor {
    font-size: 13px;
    margin: 5px 0;
}

article.loop-item .cat-item-details .cat-item-dateauthor .cat-item-author {

}

article.loop-item .cat-item-details .cat-item-dateauthor .cat-item-author a {
    color: #ffffff;
    text-decoration: underline;
}

article.loop-item .cat-item-details .cat-item-dateauthor .cat-item-date {

}

article.loop-item .cat-item-details .cat-item-desc {
    font-size: 12px;
}

article.loop-item .cat-item-details .cat-item-desc a {
    color: #ffff00;
    font-style: italic;
}

/*----------------*\
    OTHERS
\*----------------*/

.search-title {
    font-size: 24px;
}

article#post-404 h2 a {
    color: #ffffff;
    text-decoration: underline;
}

.author-archive-title {
    font-size: 24px;
}

.author-about {
    font-size: 16px;
}

.author-about {
    font-size: 20px;
}

/*----------------*\
    FOOTER
\*----------------*/

.footer-wrapper {
    max-width: 1024px;
    margin: 40px auto 50px;

    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;
    color: #efeff3;
    padding: 0 2px;
}

.soc-med-wrapper {
    font-size: 0;
    text-align: center;
}

.soc-med-item {
    display: inline-block;
    margin-right: 2px;
}

.soc-med-item img {
    width: 38px;
}

.footer-about {
    border-bottom: 1px solid #4a4a4a;
/*     padding: 30px 0; */
        margin-top: 20px;
}

.footer-copyright {
    border-bottom: 1px solid #4a4a4a;
    padding: 20px 0;
}

.footer-text {
    padding: 30px 0;
}


/* footer links */

.footer-adlinks{
margin-top: 50px;
        margin-bottom: 30px;
}
.footer-adlinks p{
font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-adlinks ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
padding-left: 0
}

.footer-adlinks ul li{
margin-left: .5rem;
    margin-right: .5rem;
    list-style-type: none;
    line-height: 25px;
}


.footer-adlinks ul li a{
color: #efeff3;
}

.footer-adlinks ul li a:hover{
color: white;
}

.footer-assocs{
    margin-top: 20px;
    text-align: center;
    padding: 20px 0 0px;
        margin-bottom: 30px;
}

.footer-assocs > .footer-assoc-data > a > img{
        width: auto;
    height: 40px;
}

.footer-assocs .footer-assoc-data{
    display: inline-block;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.footer-about > .footer-assoc-links > p > a{
    color: #efeff3;
    text-decoration: underline;
}


/* PAGINATION */

.page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
    color: #ffffff;
}
.page-numbers.current,
a.page-numbers:hover {
    background: #f9f9f9;
}

.page-numbers.current, a.page-numbers:hover{
    background: #f9f9f9;
    color: #201f26;
}




/******  EURO HUB STYLE  *******/

/* home vid container */
.home-banner > div.euro-main-vid{
/*     max-width: 620px; */
    min-width: 585px;
    height: 420px;
    margin-right: 19px;
    position: relative;
    display: inline-flex;
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px;
}

/* anchor link for the video */
.home-banner > div.euro-main-vid video,
.home-banner > div.euro-main-vid a{
    height: 70%;
    width: 100%;
}

/* video text inside the container */
.euro-main-text-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 96.8%;
    min-height: 110px;
    height: auto;
    padding: 0px 5px;
}

.euro-main-text-container p,
.euro-main-text-container h2,
.euro-most-read-list h2,
.euro-most-read-imgs-title p,
.euro-most-read-imgs-title h3,
.euro-news-wrapper h2,
.euro-thumb-desc h3,
.euro-thumb-desc p{
    font-weight: normal;
    line-height: 1.09;
    letter-spacing: 0px;
    font-family: Lato-Regular;
    color: #41494e;
     margin: 10px 0px;
}

.euro-main-text-container h2,
.euro-most-read-list h2,
.euro-news-wrapper h2{
    font-size: 26px;
}
.euro-most-read-imgs-title h3,
.euro-thumb-desc h3
{
    font-size: 18px;
    font-weight: bold;
}

.euro-main-text-container p,
.euro-most-read-imgs-title p {
    font-size: 15px;
}


/* euro most read list */

.home-banner > div.euro-most-read-list {
        max-width: 420px;
    padding: 0px 18px;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 0px;
    overflow: auto;
}


.euro-most-read-list .euro-most-read-imgs {
   width: 100%;
       height: 149.5px;
    margin-bottom: 18px;
    position: relative;
    display: block;
    overflow: hidden;
}

.euro-most-read-list
.euro-most-read-imgs img {
 width: 50%;
    height: 149px;
    object-fit: cover;
    object-position: 50% 0%;
}

.home-banner > div.euro-most-read-list hr, .euro-news-wrapper hr {
    margin-bottom: 20px;
}

.euro-most-read-list .euro-most-read-imgs a{
    display: flex;
}

.euro-most-read-imgs-title {
    width: 50%;
    display: block;
    position: relative;
    top: 0;
    min-height: 30px;
    padding: 0px 10px;
}

.euro-home-content {
    margin: 20px 0 0;
    background-color: #ffffff;
    padding: 30px 0px;
}

.euro-main-content-container{
        padding: 0px;
}

.euro-home-cta {
  width: 420px;
  height: 56px;
  padding: 16px 186px 16px 186px;
  border-radius: 2px;
  background-color: #78be20;
    margin: auto;
    margin-bottom: 30px;
}

.euro-home-cta span {
  width: 48px;
  height: 24px;
  font-family: Lato-Regular;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.01px;
  text-align: center;
  color: #ffffff;
}

.euro-main-content-container p{
    color: #41494e;
}

/* euro main content category sections */

.euro-news-item {
    display: inline-block;
    vertical-align: top;
    width: 510px;
    padding: 8px;
}

.euro-news-item-thumb{
     width: 119px;
    margin: 0px 3px;
}

.euro-news-item .euro-news-img {
    height: 290px;
    overflow: hidden;
    display: flex;
}

.euro-news-item-thumb .euro-news-sm-img {
    height: 72px;
    overflow: hidden;
    display: flex;
}

.euro-news-item .euro-news-img img, .euro-news-item-thumb .euro-news-sm-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.euro-news-item .euro-news-text, .euro-news-item-thumb .euro-news-text {
    font-family: Lato-Regular;
    font-size: 13px;
    min-height: 130px;
    letter-spacing: normal;
    color: #ffffff;
    padding: 12px 5px;
}

.euro-news-item .euro-news-text .euro-news-title {
    line-height: normal;
}
.euro-news-item .euro-news-text .euro-news-title a,
.euro-news-item .euro-news-text .euro-news-desc,
.euro-news-item .euro-news-text .euro-news-title-lg a,
.euro-news-item .euro-news-text .euro-news-desc-lg,
.euro-news-item-thumb .euro-news-text .euro-news-desc,
.euro-news-item-thumb .euro-news-text .euro-news-title a{
    color: #41494e;
}

.euro-news-item .euro-news-text .euro-news-desc,
.euro-news-item-thumb .euro-news-text .euro-news-desc{
    font-size: 11px;
    line-height: 1.27;
}

/* big thumb */
.euro-news-item .euro-news-text .euro-news-title-lg a{
    font-weight: bold;
    font-size: 19px;
}

.euro-news-item .euro-news-text .euro-news-desc-lg,
.euro-main-content-container p{
    font-size: 16px;
    line-height: 1.27;
}


.euro-news-wrapper {
    font-size: 0;
}

.euro-news-wrapper-inner{
        display: flex;
    justify-content: space-between;
}

.euro-news-item .euro-news-sm-img {
    height: 75px;
    overflow: hidden;
    display: flex;
}

.euro-sm-cont{
     display: flex;
    justify-content: space-between;
}

.euro-sm-cont-wrapper{
    display: flex;
    justify-content: space-around;
}
.euro-sm-cont-wrapper,
.euro-two-col-desc
{
     margin-bottom: 40px;
}


.euro-news-item-thumb .euro-news-text .euro-news-title{
    font-weight: bold;
}

.euro-thumb-desc-wrapper{
    position: relative;
    display: flex;
    height: auto;
}

.euro-thumb-desc-wrapper .euro-thumb-desc{
    position: relative;
    display: block;
    width: 50%;
    padding: 0px 10px;
}
