/*-------------------------------------------------- 1024px ------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    .header {
        height: 69px;
    }

    .header-wrapper {
        max-width: 768px;
        height: 69px;
        padding: 0 20px;
    }

    .header-wrapper > div {
        height: 69px;
    }

    .header-wrapper .header-left .navigation {
        display: none;
    }

    .header-right > div:nth-child(2) {
        display: none;
    }

    .header-right > div.mobile-menu {
        display: block;
    }

    .main-wrapper {
        max-width: 768px;
        padding: 20px 13px 0;
    }

    .home-banner > div {
        display: block;
    }

    .home-banner > div.main-img {
        max-width: 742px;
        margin: 0 auto;
    }

    .home-banner > div.main-img img {
        width: 100%;
    }

    .home-banner > div.most-read-list {
        max-width: 742px;
        margin: 12px auto 0;
        text-align: center;
    }

    .most-read-list .most-read-imgs {
        display: inline-block;
        /*width: 238px;*/
        width: 31.9%;
        height: 238px;
        margin-right: 14px;
        vertical-align: top;
    }

    .most-read-list .most-read-imgs:nth-child(3) {
        margin-right: 0;
    }

    .most-read-list .most-read-imgs img.img-desk {
        display: none;
    }

    .most-read-list .most-read-imgs img.img-tab {
        display: block;
    }

    .most-read-list .most-read-imgs img.img-mobi {
        display: none;
    }

    .most-read-imgs-title {
        min-height: 60px;
    }

    .news-item {
        width: 48.9%;
        height: auto;
        padding: 9px;
        margin: 0 0 12px 0;
    }

    .news-item:nth-child(odd) {
        margin-right: 15px;
    }

    .news-item .news-text {
        padding: 12px 5px 25px;
        min-height: 143px;
    }

    .footer-wrapper {
        max-width: 768px;
        padding: 0 13px;
    }

    .footer-about {
        padding: 30px 20px;
    }

    .footer-text {
        padding: 30px 20px;
    }

    .post-wrapper .main-wrapper {
        max-width: 100%;
        padding: 0;
    }

    .post-content .post-desc {
        width: calc(100% - 196px);
        margin-right: 24px;
    }

    .post-content .page-desc {
        width: 100%
    }

    .post-content iframe {
        height: 310px;
    }

    .post-navigate {
        margin: 27px 18px;
        padding: 0 8px;
    }

    .post-about-author {
        width: auto;
        padding: 10px 25px;
        margin: 0 13px;
    }

    .related-posts-wrapper .related-posts-list {
        padding: 0 13px;
        text-align: center;
    }

    .related-posts-wrapper .related-posts-list > div {
        margin-right: 14px;
    }

    .related-posts-wrapper .related-posts-list > div:nth-child(2) {
        margin-right: 0;
    }

    .related-posts-wrapper .related-posts-list > div:last-child {
        display: none;
    }

    .related-posts-item {
        width: 48.7%;
    }

    .related-posts-text {
        text-align: left;
        padding: 0 5px;
    }

    article.loop-item {
        height: 200px;
        margin-bottom: 15px;
    }

    article.loop-item .cat-item-img img.img-desk {
        display: none;
    }

    article.loop-item .cat-item-img img.img-tab {
        display: block;
    }

    article.loop-item .cat-item-img img.img-mobi {
        display: none;
    }
}

/*-------------------------------------------------- 991px ------------------------------------------------------*/
@media only screen and (max-width: 991px) {
    #avg90-mobile-bg {
        display: none;
    }

    #avg90-tablet-bg {
        display: block;
    }

    #avg90-desktop-bg {
        display: none;
    }

    #avg90-home #avg90-title h1 {
        font-size: 30px;
        -webkit-text-stroke-width: 0;
    }

    .avg90-hide-desktop {
        display: inline;
    }

    #avg90-home #avg90-title a {
        padding: 10px 80px;
        font-size: 16px;
        top: 32px;
    }

    #avg90-home #avg90-title img {
        top: 75px;
    }

    #avg90-social-menu {
        top: 33%;
    }

    #avg90-social-menu .social-icon {
        background-position: 2px 8px;
        background-size: 140px;
    }

    #avg90-social-menu .social-icon.facebook {
        background-position: -33px 8px
    }

    #avg90-social-menu .social-icon.g-plus {
        background-position: -70px 10px
    }

    #avg90-social-menu .social-icon.clipboard {
        background-position: -105px 8px
    }

    #avg90-nav-menu-dt-items {
        width: 720px;
    }

    .avg90-section {
        margin: 0 100px 60px;
    }

    .avg90-section-title {
        padding: 65px 15px;
    }

    .avg90-section-content h2, .avg90-section-title h2 {
        font-size: 32px;
    }

    .avg90-section-content, .avg90-section-img-container {
        margin: 0px;
        height: auto;
        display: inherit;
    }

    .avg90-section-img-container, .avg90-section-img-container img {
        width: 100%;
    }

    .avg90-section-content {
        margin: 20px 0;
        width: 100%;
    }

    .avg90-quote {
        margin: 0 100px;
    }

    .avg90-quote p {
        padding: 40px 10px 30px;
    }

    .avg90-quote p.footer {
        padding: 10px 10px 30px;
    }

    .avg90-fact {
        margin: 0 100px;
    }

}

/*-------------------------------------------------- 768px ------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .most-read-list .most-read-imgs {
        /*width: 183px;*/
        height: 183px;
        margin-right: 12px;
    }

    .home-content {
        margin: 30px 0 0;
    }

    .news-item:nth-child(odd) {
        margin-right: 12px;
    }

    .news-item .news-text {
        min-height: 156px;
    }

    .post-content iframe {
        height: 210px;
    }

    article.loop-item .cat-item-img {
        width: 240px;
    }

    article.loop-item .cat-item-details {
        width: calc(100% - 256px);
    }

    #avg90-mobile-bg {
        display: block;
    }

    #avg90-tablet-bg {
        display: none;
    }

    #avg90-desktop-bg {
        display: none;
    }

    #avg90-home #avg90-title h1 {
        font-size: 24px;
    }

    #avg90-home #avg90-title a {
        top: 30px;
    }

    #avg90-home #avg90-title img {
        top: 50px;
    }

    #avg90-social-menu {
        top: 29%;
    }

    #avg90-social-menu ul li {
        margin: 5px 0 0;
    }

    #avg90-mins-menu {
        display: none;
    }

    #avg90-nav-menu-dt {
        display: none;
    }

    #avg90-nav-menu-mob {
        position: relative;
        display: inline-block;
        width: 100%;
        background-color: #0B2A47;
        font-family: Lato-Regular;
        z-index: 5;
    }

    .dropbtn {
        background-color: #0B2A47;
        color: #fff;
        padding: 16px;
        font-size: 16px;
        vertical-align: middle;
        border-bottom: .1px solid grey;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 100%;
        background-color: #0B2A47;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
        z-index: 1;
    }

    .dropdown-content a {
        display: block;
        color: white;
        padding: 16px;
        border-bottom: .1px solid grey;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
    }

    .avg90-section {
        margin: 0;
    }

    .avg90-section-content h2, .avg90-section-title h2 {
        font-size: 23px;
    }

    .avg90-section-content {
        margin: 20px 15px;
        width: auto;
    }

    .avg90-quote {
        margin: 0;
    }

    .avg90-inplay {
        width: 90%;
    }

    .avg90-inplay-text, .avg90-inplay-btn-container {
        font-size: 18px;
    }

    .avg90-inplay-btn-container a {
        padding: 12px 20px;
        line-height: 1;
    }

    .avg90-fact {
        margin: 0;
    }

    .avg90-fact h2 {
        margin: 0 15px;
    }
}

/*-------------------------------------------------- 600px ------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .header-right > div.mobile-menu {
        margin: auto 0px auto 7px;
    }

    .main-wrapper {
        padding: 8px 9px 0;
    }

    .hero-text {
        bottom: 0;
        left: 0;
        right: 0;
        bottom: 7px;
        margin-left: auto;
        margin-right: auto;
        width: 97%;
        height: auto;
    }

    .hero-text p {
        font-size: 18px;
    }

    .home-banner > div.main-img {
        min-height: 215px;
        height: 220px;
    }

    .home-banner > div.main-img img.img-desk {
        display: none;
    }

    .home-banner > div.main-img img.img-mobi {
        display: block;
    }

    .home-banner > div.most-read-list {
        margin: 8px auto 0;
    }
    .most-read-list .most-read-imgs {
        width: 100%;
        margin-right: auto;
        margin-bottom: 8px;
        height: 170px;
        /*height: auto;*/
    }

    .most-read-list .most-read-imgs img.img-desk {
        display: none;
    }

    .most-read-list .most-read-imgs img.img-tab {
        display: none;
    }

    .most-read-list .most-read-imgs img.img-mobi {
        display: block;
    }

    .most-read-imgs-title {
        /*height: 29px;*/
        min-height: auto;
    }

    .most-read-imgs-title p {
        font-size: 13px;
    }

    .news-item {
        width: 100%;
        padding: 8px;
        margin: 0 0 8px 0;
    }

    .news-item:nth-child(odd) {
        margin-right: auto;
    }

    .news-item .news-img {
        height: auto;
    }

    .news-item .news-img img.img-desk {
        display: none;
    }

    .news-item .news-img img.img-mobi {
        display: block;
    }

    .news-item .news-text {
        min-height: auto;
    }

    .post-breadcrumb {
        font-size: 12px;
    }

    .post-title {
        font-size: 22px;
    }

    .post-details {
        font-size: 13px;
    }

    .post-content .post-desc,
    .post-content .page-desc {
        font-size: 12px;
    }

    .post-content .post-desc,
    .post-content .page-desc {
        width: 100%;
        margin-right: auto;
    }

    .post-content iframe {
        height: 210px;
    }

    .post-content .post-banner {
        display: none;
    }

    .post-notes {
        width: 100%;
    }

    .post-navigate {
        font-size: 14px;
    }

    .post-about-author {
        font-size: 13px;
    }

    .related-posts-wrapper {
        margin: 60px 0 70px;
    }

    .related-posts-wrapper .related-posts-list > div {
        margin-right: auto;
        margin-bottom: 8px;
    }

    .related-posts-item {
        width: 100%;
        height: auto;
    }

    .related-posts-img {
        height: auto;
    }

    .related-posts-img img.img-desk {
        display: none;
    }

    .related-posts-img img.img-mobi {
        display: block;
    }

    .footer-wrapper {
        margin: 40px auto 15px;
    }

    article.loop-item {
        height: auto;
        margin-bottom: 8px;
    }

    article.loop-item .cat-item-img {
        width: 100%;
        margin-bottom: 5px;
    }

    article.loop-item .cat-item-img img.img-desk {
        display: none;
    }

    article.loop-item .cat-item-img img.img-tab {
        display: none;
    }

    article.loop-item .cat-item-img img.img-mobi {
        display: block;
    }

    article.loop-item .cat-item-details {
        width: 100%;
    }
}

/*-------------------------------------------------- 480px ------------------------------------------------------*/
@media only screen and (max-width: 480px) {
    .post-content iframe {
        height: 190px;
    }
}

/*-------------------------------------------------- 390px ------------------------------------------------------*/
@media only screen and (max-width: 390px) {
    .avg90-inplay-btn-container, .avg90-inplay-text {
        font-size: 14px;
    }
}



/*------------------------------------------ THIS IS THE EURO RESPONSIVE STYLE ----------------------------------  */


/*-------------------------------------------------- 1024px ------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    .euro-main-vid{
            width: 100%;
        margin-bottom: 10px;
    }

     .home-banner > div.euro-most-read-list{
        width: 100%;
        max-width:100%;
    }
    .euro-sm-cont {
        flex-wrap: wrap;
    }
    .euro-news-item-thumb{
        width: 178px;
    }
    .euro-news-item-thumb .euro-news-sm-img{
        height: 106px;
    }
}

/*-------------------------------------------------- 991px ------------------------------------------------------*/
@media only screen and (max-width: 991px) {
        .home-banner > div.euro-most-read-list{
        width: 100%;
        max-width:100%;
}

/*-------------------------------------------------- 768px ------------------------------------------------------*/
@media only screen and (max-width: 768px) {
    .home-banner > div.euro-main-vid{
        margin-right: 0px;
    }
    .euro-sm-cont{
        justify-content: center;
    }
}

/*-------------------------------------------------- 600px ------------------------------------------------------*/
@media only screen and (max-width: 600px) {
.euro-sm-cont{
        justify-content: center;
    }
    .euro-news-item-thumb{
        width: 100%;
    }

    .euro-news-wrapper-inner{
        display: block;
    }
    .euro-news-item{
        width: 100%;
    }

    .home-banner > div.euro-main-vid{
        width: 100%;
        min-width:100%;
    }
    .euro-main-text-container h2, .euro-most-read-list h2, .euro-news-wrapper h2 {
    font-size: 22px;
    }
    .euro-home-content{
        margin: 10px 0 0;
    }
}

/*-------------------------------------------------- 480px ------------------------------------------------------*/
@media only screen and (max-width: 480px) {
    .post-content iframe {
        height: 190px;
    }
    .euro-main-text-container h2, .euro-most-read-list h2, .euro-news-wrapper h2{
        font-size: 22px;
    }
    .euro-main-text-container{
        position: relative;
    }
    .home-banner > div.euro-main-vid{
        width:100%;
        min-width:100%;
        height:auto;
    }

    .euro-main-vid{
        height: 265px;
    }

    .euro-main-text-container{
        padding-top: 10px;
    }
    .euro-home-cta{
        text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 0;
       max-width: 420px;
       width: 100%;
    }

    .euro-most-read-list .euro-most-read-imgs a{
        display: block;
    }

    .euro-most-read-list .euro-most-read-imgs{
        width: 100%;
        height: auto;
        display: block;
        overflow: auto;
    }

    .euro-most-read-list .euro-most-read-imgs img{
        height: 165px;
        width: 100%;
    }

    .euro-most-read-imgs-title{
        width: 100%;
    }
    .euro-thumb-desc-wrapper{
        display: block;
    }

    .euro-thumb-desc-wrapper .euro-thumb-desc{
        width: 100%;
    }
    .euro-thumb-desc-wrapper .euro-thumb-desc:first-child{
        margin-bottom: 35px;
    }
}

/*-------------------------------------------------- 390px ------------------------------------------------------*/
@media only screen and (max-width: 390px) {
    .avg90-inplay-btn-container, .avg90-inplay-text {
        font-size: 14px;
    }
    input[type="search"].search-input{
        width: 130px;
    }
}
