* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none !important;
}

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}
.clear {
    *zoom: 1;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
         url('../../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'),
         url('../../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
         url('../../fonts/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'),
         url('../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BreuerText';
    src: url('../../fonts/BreuerText/BreuerText.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/BreuerText/BreuerText.woff') format('woff'),
         url('../../fonts/BreuerText/BreuerText.ttf')  format('truetype'),
         url('../../fonts/BreuerText/BreuerText.svg#BreuerText') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('../../fonts/HelveticaNeueRegular/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeueRegular/HelveticaNeueRegular.woff') format('woff'),
         url('../../fonts/HelveticaNeueRegular/HelveticaNeueRegular.ttf')  format('truetype'),
         url('../../fonts/HelveticaNeueRegular/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('../../fonts/HelveticaNeueMedium/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeueMedium/HelveticaNeueMedium.woff') format('woff'),
         url('../../fonts/HelveticaNeueMedium/HelveticaNeueMedium.ttf')  format('truetype'),
         url('../../fonts/HelveticaNeueMedium/HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../../fonts/HelveticaNeueLight/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeueLight/HelveticaNeueLight.woff') format('woff'),
         url('../../fonts/HelveticaNeueLight/HelveticaNeueLight.ttf')  format('truetype'),
         url('../../fonts/HelveticaNeueLight/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../fonts/Helvetica/Helvetica.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Helvetica/Helvetica.woff') format('woff'),
         url('../../fonts/Helvetica/Helvetica.ttf')  format('truetype'),
         url('../../fonts/Helvetica/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('../../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.otf')  format('opentype'),
         url('../../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.woff') format('woff'),
         url('../../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.ttf')  format('truetype'),
         url('../../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Light';
    src: url('../../fonts/Helvetica-Light/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Helvetica-Light/Helvetica-Light.woff') format('woff'),
         url('../../fonts/Helvetica-Light/Helvetica-Light.ttf')  format('truetype'),
         url('../../fonts/Helvetica-Light/Helvetica-Light.svg#Helvetica-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-UltLt';
    src: url('../../fonts/HelveticaNeueLTStd-UltLt/HelveticaNeueLTStd-UltLt.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeueLTStd-UltLt/HelveticaNeueLTStd-UltLt.otf')  format('opentype'),
         url('../../fonts/HelveticaNeueLTStd-UltLt/HelveticaNeueLTStd-UltLt.woff') format('woff'),
         url('../../fonts/HelveticaNeueLTStd-UltLt/HelveticaNeueLTStd-UltLt.ttf')  format('truetype'),
         url('../../fonts/HelveticaNeueLTStd-UltLt/HelveticaNeueLTStd-UltLt.svg#HelveticaNeueLTStd-UltLt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'breuertextregular';
    src: url('../../fonts/BreuerTextWF/breuertext-webfont.eot');
    src: url('../../fonts/BreuerTextWF/breuertext-webfont.eot?#iefix') format("embedded-opentype"),
         url('../../fonts/BreuerTextWF/breuertext-webfont.woff2') format("woff2"),
         url('../../fonts/BreuerTextWF/breuertext-webfont.woff') format("woff"),
         url('../../fonts/BreuerTextWF/breuertext-webfont.ttf') format("truetype"),
         url('../../fonts/BreuerTextWF/breuertext-webfont.svg#breuertextregular') format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'breuertextbold';
    src: url('../../fonts/BreuerTextWF/breuertext-bold-webfont.eot');
    src: url('../../fonts/BreuerTextWF/breuertext-bold-webfont.eot?#iefix') format("embedded-opentype"),
         url('../../fonts/BreuerTextWF/breuertext-bold-webfont.woff2') format("woff2"),
         url('../../fonts/BreuerTextWF/breuertext-bold-webfont.woff') format("woff"),
         url('../../fonts/BreuerTextWF/breuertext-bold-webfont.ttf') format("truetype"),
         url('../../fonts/BreuerTextWF/breuertext-bold-webfont.svg#breuertextbold') format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'breuertextmedium';
    src: url('../../fonts/BreuerTextWF/breuertext-medium-webfont.eot');
    src: url('../../fonts/BreuerTextWF/breuertext-medium-webfont.eot?#iefix') format("embedded-opentype"),
         url('../../fonts/BreuerTextWF/breuertext-medium-webfont.woff2') format("woff2"),
         url('../../fonts/BreuerTextWF/breuertext-medium-webfont.woff') format("woff"),
         url('../../fonts/BreuerTextWF/breuertext-medium-webfont.ttf') format("truetype"),
         url('../../fonts/BreuerTextWF/breuertext-medium-webfont.svg#breuertextmedium') format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../../fonts/Lato-Bold/Lato-Bold.eot?') format("eot"),
         url('../../fonts/Lato-Bold/Lato-Bold.woff') format("woff"),
         url('../../fonts/Lato-Bold/Lato-Bold.ttf') format("truetype"),
         url('../../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #07294b;
    color: #ffffff;
}

body.mobile-active {
    overflow: hidden;
}

h1, h2, h3 {
    margin: 0;
}

.fa-active {
    display: block !important;
}

/*----------------*\
    HEADER
\*----------------*/

.header {
    width: 100%;
    height: 60px;
    background-color: #084d8d;
    z-index: 1;
    position: relative;
}

.header-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 60px;
}

.header-wrapper > div {
    display: flex;
    height: 60px;
}

.header-wrapper .header-left {
    float: left;
    padding-top: 13px;
}

.header-wrapper .header-left > div {
    display: inline-block;
    margin: auto;
}

.header-wrapper .header-left .logo-img {
    height: 18px;
}

.header-wrapper .header-left .navigation {
    margin-left: 30px;
}

.header-wrapper .header-left .navigation nav.nav {

}

.header-wrapper .header-left .navigation nav.nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

.header-wrapper .header-left nav.nav > ul > li.menu-item {
    font-family: Lato-Regular;
    font-size: 11px;
    line-height: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.header-wrapper .header-left nav.nav > ul > li.menu-item:nth-child(n+7) {
    display: none;
}

.header-wrapper .header-left nav.nav .desk-more-menu {
    display: inline-block;
    vertical-align: top;
    font-family: Lato-Regular;
    font-size: 11px;
    line-height: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    position: relative;
}

.header-wrapper .header-left nav.nav .desk-more-menu > span {
    color: #ffffff;
    padding: 14px 10px;
    display: block;
    border-bottom: 3px solid transparent;
}

.header-wrapper .header-left nav.nav .desk-more-menu > span i.fa {
    margin: 0 5px;
}

.header-wrapper .header-left nav.nav .desk-more-menu > span i.fa-caret-up {
    display: none;
}

.header-wrapper .header-left nav.nav .desk-more-menu:hover > span i.fa-caret-down {
    display: none;
}

.header-wrapper .header-left nav.nav .desk-more-menu:hover > span i.fa-caret-up {
    display: inline-block;
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: #132c61;
    top: 45px;
    width: 200%;
}

.header-wrapper .header-left nav.nav .desk-more-menu:hover > ul {
    display: block;
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li {
    display: none;
    /*padding: 15px 10px;*/
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li:nth-child(n+7) {
    display: block;
    /*border-bottom: 1px solid #ffffff;*/
    position: relative;
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li:last-child {
    border-bottom: 0;
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li:nth-child(n+7).menu-item-has-children a:after {
    /*font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    content: "\f0d7";
    display: inline-block;
    margin: 0 5px;
    margin: 0 10px 0 5px;
    right: 0;
    position: absolute;*/
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li:nth-child(n+7).menu-item-has-children:hover a:after {
    /*content: "\f0d8";*/
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li:nth-child(n+7).menu-item-has-children:hover > ul {
    /*display: block;*/
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li > a {
    color: #ffffff;
    display: inline-block;
    padding: 15px 10px;
    width: 100%;
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li a:hover {
    color: #ffff00;
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li > span {
    display: inline-block;
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 16px 15px;
    border-left: 1px solid #ffffff;
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li > span i {
    display: none;
}

.header-wrapper .header-left nav.nav .desk-more-menu > ul > li > ul {
    width: 100%;
    position: relative;
    top: auto;
    background-color: #084d8d;
}

.header-wrapper .header-left nav.nav > ul > li.menu-item > a {
    color: #ffffff;
    padding: 14px 10px;
    display: block;
    border-bottom: 3px solid transparent;
}

.header-wrapper .header-left nav.nav > ul > li.menu-item:hover > a {
    border-bottom: 3px solid #60a4e9;
}

.header-wrapper .header-left nav.nav > ul > li.menu-item:hover > ul {
    display: block;
}

.header-wrapper .header-left nav.nav > ul > li > ul.sub-menu {
    display: none;
    position: absolute;
    top: 45px;

    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
    width: 400%;
    background-color: #132c61;
}

.header-wrapper .header-left nav.nav ul.sub-menu {
    margin: 0;
    padding: 0;
    display: none;
}

.header-wrapper .header-left nav.nav ul.sub-menu > li {
    list-style: none;
    display: inline-block;
    width: 100%;
}

.header-wrapper .header-left nav.nav ul.sub-menu > li > a {
    color: #ffffff;
    display: block;
    padding: 15px 10px;
}

.header-wrapper .header-left nav.nav ul.sub-menu > li > a:hover {
    color: #ffff00;
}

.header-wrapper .header-right {
    float: right;
}

.header-right > div {
    display: inline-block;
    margin: auto;
}

.header-right > div.mobile-menu {
    background: url('../../img/hamburg-menu.png') center top no-repeat;
    width: 22px;
    height: 16px;
    background-size: cover;
    margin: auto 10px auto 10px;
    cursor: pointer;
    display: none;
}

.header-right > div.mobile-menu a {
    display: block;
    width: 100%;
    height: 100%;
}

nav#mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #1a3959;
    height: 100%;
    width: 250px;
    text-transform: uppercase;
    font-size: 13px;
    /*display: none;*/
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    overflow: auto;
    border-left: 1px solid #1a3959;
}

nav#mobile-menu.active {
    right: 0;
    opacity: 1;
}

nav#mobile-menu .mobile-menu-close {
    text-align: right;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

nav#mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav#mobile-menu ul > li {
    border-bottom: 1px solid #ffffff;
    text-align: left;
    position: relative;
}

nav#mobile-menu ul > li > a {
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
}

nav#mobile-menu ul > li.menu-item-has-children > a {
    width: 85%;
}

nav#mobile-menu ul > li > a:hover {
    background-color: #ffffff;
    color: #1a3959;
}

nav#mobile-menu ul > li > span {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 11px 14px;
    border-left: 1px solid #ffffff;
    cursor: pointer;
    width: 15%;
}

nav#mobile-menu > ul > li > span i {
    display: none;
}

nav#mobile-menu ul > li:hover > ul {
    /*display: block;*/
}

nav#mobile-menu ul > li > ul {
    display: none;
    /*-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;*/
}

nav#mobile-menu ul > li > ul > li {
    background-color: #084d8d;
}

nav#mobile-menu ul > li > ul > li > a {
    padding-right: 30px;
}

nav#mobile-menu ul > li > ul > li > a:hover {
    background-color: #ffffff;
    color: #084d8d;
}

.header-login-btn {
    width: auto;
    display: inline-block;
    height: 26px;
    border-radius: 3px;
    background-color: #78be20;
    text-transform: uppercase;

    font-family: 'Lato-Regular';
    font-size: 11px;
    /*font-weight: bold;*/
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.01px;
    color: #ffffff;
    padding: 5px 17px;
    margin-right: 13px !important;
    cursor: pointer;
}

.header-login-btn a {
    color: #ffffff;
}

form.search {
    position: relative;
}

input[type="search"].search-input {
    width: 162px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);

    opacity: 0.6;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    text-align: left;
    padding: 0 28px 0 15px;
    border: 1px solid transparent;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

input[type="search"].search-input:hover {
    border: 1px solid #ffffff;
}

input[type="search"].search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
}
input[type="search"].search-input::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
}
input[type="search"].search-input:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
}
input[type="search"].search-input:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

.fa-search {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 11px;
    top: 8px;
    font-size: 14px;
}

/*----------------*\
    MAIN
\*----------------*/

main {
    width: 100%;
    min-height: 700px;
    background-color: #07294b;
}

.main-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0 0;
}

.home-banner {
    font-size: 0;
}

.home-banner > div {
    display: inline-block;
    vertical-align: top;
}

.home-banner > div.main-img {
    max-width: 700px;
    height: 420px;
    margin-right: 19px;
    position: relative;
    display: inline-flex;
    background-color: #1a3959;
    overflow: hidden;
}



.home-banner > div.main-img a {
    display: flex;
}

.home-banner > div.main-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto;
}

.home-banner > div.main-img img.img-desk {

}

.home-banner > div.main-img img.img-mobi {
    display: none;
}

.home-banner > div.most-read-list {
    max-width: 305px;
}

.hero-text {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 10px;
    width: 438px;
/*      height: 74px; */
    min-height: 74px;
    height: auto;
    background-color: rgba(0, 70, 150, 0.9);
    padding: 10px 15px;
}

.hero-text p {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.09;
    letter-spacing: 0px;
    font-family: Lato-Regular;
    color: #ffffff;
    margin: auto;
}

.most-read-list .most-read-imgs {
    width: 305px;
    height: 128px;
    margin-bottom: 18px;
    position: relative;
}

.most-read-list .most-read-imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

.most-read-list .most-read-imgs img.img-desk {

}

.most-read-list .most-read-imgs img.img-tab {
    display: none;
}

.most-read-list .most-read-imgs img.img-mobi {
    display: none;
}

.most-read-list .most-read-imgs:last-child {
    margin-bottom: 0;
}

.most-read-imgs-title {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    min-height: 30px;
    background-color: rgba(0, 70, 150, 0.9);
    padding: 5px 10px;
}

.most-read-imgs-title p {
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto-Regular;
    color: #ffffff;
    margin: auto 0;
}

.home-content {
    margin: 40px 0 0;
}

.news-section-title {
    font-family: BreuerText;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 20px;
}

.news-wrapper {
    font-size: 0;
}

.news-item {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 358px;
    background-color: #1a3959;
    padding: 8px;
    margin: 0 32px 32px 0;
}

.news-item:nth-child(3n+3) {
    margin-right: 0;
}

.news-item .news-img {
    /*max-width: 308px;*/
    height: 175px;
    overflow: hidden;
    display: flex;
}

.news-item .news-img a {
    display: flex;
}

.news-item .news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.news-item .news-img img.img-desk {

}

.news-item .news-img img.img-mobi {
    display: none;
}

.news-item .news-text {
    font-family: Lato-Regular;
    font-size: 13px;
    min-height: 130px;
    letter-spacing: normal;
    color: #ffffff;
    padding: 12px 5px;
}

.news-item .news-text .news-title {
    font-size: 13px;
    line-height: normal;
}

.news-item .news-text .news-title a {
    color: #ffffff;
}

.news-item .news-text .news-title a:hover {
    text-decoration: underline;
}

.news-item .news-text .news-desc {
    font-size: 11px;
    line-height: 1.27;
}

.news-item .news-text .news-desc a {
    color: #ffff00;
    font-style: italic;
}

.news-item .news-btn {
    width: 100%;
    height: 36px;
    border-radius: 2px;
    background-color: #ffcd00;
    display: flex;
    cursor: pointer;
}

.news-item .news-btn a {
    display: flex;
    width: 100%;
}

.news-item .news-btn:hover {
    background-color: #e2d086;
}

.news-item .news-btn span {
    font-family: Lato-Regular;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #07294b;
    text-transform: uppercase;
    margin: auto;
}

/*----------------*\
    POST
\*----------------*/

article.type-post {
    background-color: #ffffff;
}

article.post-blank {
    padding: 50px 25px;
    background-color: #1a3959;
    color: #ffffff;
}

article.type-post img {
    width: 100%;
    height: auto;
}

.post-body {
    padding: 30px 27px;
}

.post-breadcrumb {
    font-family: Lato-Regular;
    font-size: 13px;
    line-height: 1.43;
    letter-spacing: 0px;
    color: #07294b;
}

.post-breadcrumb a {
    color: #07294b;
}

.post-title {
    font-family: Lato-Regular;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #07294b;
}

.post-details {
    font-family: Lato-Regular;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0px;
    color: #07294b;
}

.post-details .author {
    font-weight: bold;
}

.post-details .author a {
    color: #07294b;
    text-decoration: underline;
}

.post-details .date {

}

.post-btn {
    width: 206px;
    height: 38px;
    border-radius: 2px;
    background-color: #ffcd00;
    display: flex;
    cursor: pointer;
}

.post-main-btn {
    margin: 20px 0;
}

.post-btn a {
    display: flex;
    width: 100%;
}

.post-btn span {
    font-family: Lato-Regular;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #07294b;
    margin: auto;
    text-transform: uppercase;
}

.post-content {
    font-size: 0;
}

.post-content > div {
    display: inline-block;
    vertical-align: top;
}

.post-content .post-desc {
    width: 729px;
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0px;
    color: #1a1212;
    margin-right: 66px;
}

.post-content iframe {
    width: 100%;
    height: 410px;
}

.btns-wrapper {
    margin: 40px 0 30px;
}

.btns-wrapper > div {
    display: inline-flex;
    margin-bottom: 10px;
}

.btns-wrapper > div:first-child {
    margin-right: 10px;
}

.post-content .post-banner {
    width: 172px;
}

.post-content .post-banner > div {

}

.post-content .post-banner > div:nth-child(1) {
    margin-bottom: 15px;
}

.post-notes {
    background-color: #f1f1f1;
    width: 542px;
    padding: 20px;
}

.post-notes .post-notes-title {
    font-family: Lato-Regular;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: 0px;
    color: #07294b;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #4a90e2;
}

.post-notes .post-notes-list {

}

.post-notes .post-notes-list .post-notes-item {
    font-size: 0;
}

.post-notes .post-notes-list .post-notes-item > div {
    display: inline-block;
}

.post-notes-item .post-notes-item-title {
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: 0px;
    color: #07294b;
    width: 80%;
}

.post-notes-item .post-notes-item-score {
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    letter-spacing: 0px;
    text-align: right;
    color: #07294b;
    width: 20%;
    text-align: right;
}

.post-soc-med {
    text-align: center;
    margin: 40px 0 15px;
}

.post-soc-med-item {
    display: inline-block;
    vertical-align: top;
}

.post-soc-med-item img.post-soc-med-img {
    width: 38px;
}

.addtoany_list a:not(.addtoany_special_service)>span {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.post-navigate {
    font-family: Lato-Regular;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0px;
    margin: 30px 5px;
}

.post-navigate > div {
    width: 45%;
}

.post-navigate .post-navigate-left {
    float: left;
}

.post-navigate .post-navigate-right {
    float: right;
    text-align: right;
}

.post-navigate a {
    color: #ffffff;
}

.post-navigate a:hover {
    text-decoration: underline;
}

.post-about-author {
    background-color: #1a3959;
    width: 100%;
    padding: 25px 30px;

    font-family: Lato-Regular;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0px;
    color: #ffffff;
}

.post-about-author .paa-title {

}

.post-about-author .paa-name {
    font-size: 16px;
    font-weight: bold;
    color: #4a90e2;
}

.post-about-author .paa-about {

}

.post-about-author .paa-about a {
    color: #ffffff;
    text-decoration: underline;
}

.related-posts-wrapper {
    margin: 60px 0 100px;
}

.related-posts-wrapper .related-posts-header {
    font-family: BreuerText;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.related-posts-wrapper .related-posts-list {
    font-size: 0;
}

.related-posts-wrapper .related-posts-list > div {
    margin-right: 32px;
}

.related-posts-wrapper .related-posts-list > div:last-child {
    margin-right: 0;
}

.related-posts-item {
    display: inline-block;
    vertical-align: top;
    background-color: #1a3959;
    width: 320px;
    height: 270px;
    padding: 8px;
}

.related-posts-img {
    /*max-width: 308px;*/
    height: 176px;
}

.related-posts-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.related-posts-img img.img-desk {

}

.related-posts-img img.img-mobi {
    display: none;
}

.related-posts-text {

}

.related-posts-text .related-posts-details {
    font-family: Lato-Regular;
    font-size: 12px;
    line-height: 1.75;
    color: #b8b8b9;
}

.related-posts-text .related-posts-details .rpd-author {
    text-decoration: underline;
}

.related-posts-text .related-posts-details .rpd-author a {
    color: #b8b8b9;
}

.related-posts-text .related-posts-title {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #ffffff;
}

.related-posts-text .related-posts-title a {
    color: #ffffff;
}

.related-posts-text .related-posts-title a:hover {
    text-decoration: underline;
}

/*----------------*\
    CATEGORY
\*----------------*/

.category-title {
    font-size: 24px;
}

.category-subtitle {
    font-size: 14px;
}

article.loop-item {
    background-color: #1a3959;
    padding: 8px;
    height: 150px;
    margin-bottom: 32px;
}

article.loop-item > div {
    display: inline-block;
    vertical-align: top;
}

article.loop-item .cat-item-img {
    width: 300px;
    height: 100%;
    margin-right: 10px;
}

article.loop-item .cat-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article.loop-item .cat-item-img img.img-desk {

}

article.loop-item .cat-item-img img.img-tab {
    display: none;
}

article.loop-item .cat-item-img img.img-mobi {
    display: none;
}

article.loop-item .cat-item-details {
    width: calc(100% - 316px);
}

article.loop-item .cat-item-details h2 {
    font-size: 16px;
}

article.loop-item .cat-item-details h2 a {
    color: #ffffff;
}

article.loop-item .cat-item-details h2 a:hover {
    text-decoration: underline;
}

article.loop-item .cat-item-details .cat-item-dateauthor {
    font-size: 13px;
    margin: 5px 0;
}

article.loop-item .cat-item-details .cat-item-dateauthor .cat-item-author {

}

article.loop-item .cat-item-details .cat-item-dateauthor .cat-item-author a {
    color: #ffffff;
    text-decoration: underline;
}

article.loop-item .cat-item-details .cat-item-dateauthor .cat-item-date {

}

article.loop-item .cat-item-details .cat-item-desc {
    font-size: 12px;
}

article.loop-item .cat-item-details .cat-item-desc a {
    color: #ffff00;
    font-style: italic;
}

.pagination {
    text-align: center;
}

.pagination .page-numbers:not(.dots) {
    border: 1px solid #efeff3;
    padding: 5px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
}

.pagination .page-numbers:hover,
.pagination .page-numbers.current {
    background-color: #efeff3;
    color: #000000;
}

/*----------------*\
    OTHERS
\*----------------*/

.search-title {
    font-size: 24px;
}

article#post-404 h2 a {
    color: #ffffff;
    text-decoration: underline;
}

.author-archive-title {
    font-size: 24px;
}

.author-about {
    font-size: 20px;
}

.author-about-wrapper {
    font-size: 16px;
}

.author-about-wrapper a {
    color: #ffffff;
    text-decoration: underline;
}

/*----------------*\
    FOOTER
\*----------------*/

.footer-wrapper {
    max-width: 1024px;
    margin: 40px auto 50px;

    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0px;
    text-align: center;
    color: #efeff3;
    padding: 0 2px;
}

.soc-med-wrapper {
    font-size: 0;
    text-align: center;
}

.soc-med-item {
    display: inline-block;
    margin-right: 2px;
}

.soc-med-item img {
    width: 38px;
}

.footer-about {

    padding: 20px 0;
}

.footer-about a {
    color: #efeff3;
    text-decoration: underline;
}

.footer-copyright {
    border-bottom: 1px solid #4a4a4a;
    padding: 20px 0;
}

.footer-text {
    padding: 30px 0;
}

.footer-menu-title {
    font-size: 14px;
    font-weight: bold;
}

ul#menu-footer-help-and-information {
    text-align: center;
    padding: 0;
}

ul#menu-footer-help-and-information li {
    display: inline-block;
    margin: 10px 10px;
}

ul#menu-footer-help-and-information li a {
    color: #efeff3;
}

ul#menu-footer-help-and-information li a:hover {
    color: #ffff00;
}

.assoc-wrapper {
    text-align: center;
    padding: 20px 0 30px;
    border-bottom: 1px solid #4a4a4a;
}

.assoc-item {
    display: inline-block;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.assoc-item img {
    width: auto;
    height: 40px;
}

/*----------------*\
    PAGE
\*----------------*/

article.type-page {
    background-color: #ffffff;
}

article.page-blank {
    padding: 50px 25px;
    background-color: #1a3959;
    color: #ffffff;
}

article.type-page img {
    width: 100%;
    height: auto;
}

.post-content .page-desc {
    width: 100%;
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0px;
    color: #1a1212;
}

/*----------------*\
    AVE 90 MINS
\*----------------*/

#avg90-mobile-bg {
    display: none;
}

#avg90-tablet-bg {
    display: none;
}

#avg90-home #avg90-background img {
    width: 100%;
}

#avg90-home {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 0;
}

#avg90-home #avg90-title {
    position: absolute;
    width: 100%;
    height: auto;
    top: 30%;
    left: 0;
    /*z-index: 2;*/
    color: #fff;
    font-family: breuertextregular;
    text-align: center;
}

#avg90-home #avg90-title h1 {
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    margin: 0;
    font-weight: 500;
}

#avg90-home #avg90-title b {
    font-family: breuertextbold;
}

.avg90-hide-desktop {
    display: none;
}

#avg90-home #avg90-title img {
    position: relative;
    top: 46px;
    width: 18px;
    height: auto;
}

#avg90-home #avg90-title a {
    position: relative;
    top: 20px;
    width: 200px;
    padding: 10px 100px;
    text-align: center;
    font-size: 17px;
    background-color: #60ac37;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

#avg90-mins-menu {
    position: absolute;
    width: auto;
    height: auto;
    top: 20%;
    left: 0;
    z-index: 6;
    color: #fff;
    font-family: Lato-Regular;
    font-size: 16px;
    text-align: center;
}

#avg90-mins-menu.fixed {
    position: fixed;
}

#avg90-mins-menu ul {
    padding: 0;
    list-style-type: none;
}

#avg90-mins-menu ul li {
    background-color: #004F8A;
    margin: 5px;
    padding: 8px 10px;
}

#avg90-mins-menu ul li.active {
    background-color: #0066b2;
}

#avg90-mins-menu a {
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.5;
}

#avg90-social-menu {
    display: block;
    position: absolute;
    float: right;
    width: 36px;
    height: 30%;
    top: 28%;
    right: 0%;
    z-index: 3;
    color: white;
    font-family: Lato-Regular;
    font-size: 13px;
    text-align: center;
}

#avg90-social-menu ul {
    padding: 0;
    list-style-type: none;
}

#avg90-social-menu ul li {
    height: 36px;
    background-color: #004F8A;
    margin: 10px 0 0 0;
    padding: 0;
}

#avg90-social-menu .social-icon {
    float: right;
    display: inline-block;
    width: 40px;
    height: 41px;
    margin-left: 1px;
    background: url(../../img/_coral/selection_socials_sprite.png) 2px 8px no-repeat #004F8A;
    background-size: 140px;
}

#avg90-social-menu .social-icon {
    background-position: 0 5px;
    background-size: auto;
}

#avg90-social-menu .social-icon.facebook {
    background-position: -40px 5px
}

#avg90-social-menu .social-icon.g-plus {
    background-position: -82px 5px
}

#avg90-social-menu .social-icon.clipboard {
    background-position: -124px 5px
}

#avg90-nav-menu-mob {
    display: none;
}

#avg90-nav-menu-dt {
    width: 100%;
    display: inline-block;
    background-color: #0B2A47;
    z-index: 5;
}

#avg90-nav-menu-dt-items {
    text-align: center;
    width: 940px;
    background-color: #0B2A47;
    margin: 0 auto;
    z-index: 1;
}

#avg90-nav-menu-dt-items a {
    width: 16%;
    margin: 12px auto;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 18px;
}

#avg90-nav-menu-dt a:hover {
    text-decoration: underline;
}

.avg90-section {
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    height: 100%;
    margin: 0 110px 10px;
    color: #000;
}

.avg90-section-title {
    padding: 70px 15px;
}

.avg90-section-content h2, .avg90-section-title h2 {
    font-size: 42px;
    text-align: center;
    font-family: Lato-Bold;
}

.avg90-section-content, .avg90-section-img-container {
    display: inline-block;
    width: 45%;
    height: 100%;
    margin: 20px;
    vertical-align: top;
}

.avg90-section-img-container img {
    width: 100%;
}

.avg90-section-content {
    margin: 0 15px;
}

.avg90-section-content p {
    font-family: Lato-Regular;
    font-size: 16px;
    text-align: left;
}

.avg90-section-content p a {
    text-decoration: underline;
}

.avg90-quote {
    /*background-color: #fff;*/
    background-color: #FFCE18;
    /*-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -ms-transform: scale(1,0);
    -webkit-transform: scale(1,0);
    transform: scale(1,0);*/
}

.avg90-quote.boom {
    /*-ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);*/

}

.avg90-quote {
    margin: 0 130px;
    color: #000;
}

.avg90-quote p, .avg90-quote p.footer {
    margin: 0;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
}

.avg90-quote p {
    font-family: Lato-Regular;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.avg90-quote p.footer {
    font-family: Lato-Bold;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 30px;
}


.avg90-inplay {
    width: 74%;
    height: auto;
    margin: auto;
    background-color: #084D8D;
}

.avg90-inplay-text, .avg90-inplay-btn-container {
    position: relative;
    display: inline-block;
    width: 49%;
    color: white;
    font-family: Lato-Bold;
    font-size: 24px;
    padding: 40px 15px;
    text-align: center;
}

.avg90-inplay-btn-container a {
    color: white;
    background-color: #78BE20;
    font-family: Lato-Regular;
    text-decoration: none;
    padding: 12px 45px;
    line-height: 3;
    border-radius: 5px;
}

.avg90-fact {
    background-color: #004F8A;
    padding: 45px 0;
    margin: 0 130px;
}

.avg90-fact a {
    color: white;
    text-decoration: underline;
}

.avg90-fact h2{
    font-family: Lato-Bold;
    font-size: 23px;
    color: white;
    text-align: center;
    margin: 0 15px;
    padding: 15px;
}

.avg90-fact p {
    margin: 0 15px;
    padding: 15px;
    font-family: Lato-Regular;
    font-size: 18px;
    color: white;
    text-align: center;
}

.avg90-fact h2, .avg90-fact p {
    margin: 0;
}

#avg90-footer {
    width: 300px;
    text-align: center;
    margin: 30px auto;
}

#avg90-footer img {
    position: relative;
    display: block;
    width: 18px;
    height: auto;
    margin: 15px auto;
}

#avg90-footer a {
    position: relative;
    width: 200px;
    margin: 15px auto;
    padding: 10px 80px;
    color: white;
    text-align: center;
    font-family: breuertextregular;
    font-size: 16px;
    background-color: #60ac37;
    border-radius: 3px;
    cursor: pointer;
}

#avg90-footer #copyright {
    margin: 30px 0;
    font-size: 18px;
    color: #000;
}

#avg90-footer #copyright i {
    font-family: Lato-Regular;
    text-align: center;
}


/***** Container- calendar- Events ******/
/* main.calendar-wrapper {
    background-color: #fff !important;
} */
.cal .page-content {
    background-color: #f3f6fb;
    font-family: 'Lato-Regular'
}
.cal .calendar-container {
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    padding: 20px;
    align-items: stretch;
    justify-content: center;
}

.cal .calendar {
    align-self:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    min-height: 425px;
    margin-right: 10px;
}

/***** Calender Header *****/

.cal .date-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #868686;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    height:2em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
     0 3px 6px rgba(0,0,0,0.23);

}

.cal .date-header .time-skip{
    height:100%;
    line-height: 2em;
    padding: 0 1.2em 0 1.2em;
}

.cal .date-header .time-skip:hover {
    background-color: rgba(0,0,0,0.30);
    cursor: pointer;
}
.cal form {
    display: none;
}

/***** Calendar Body *****/

.cal .days-body thead .days-row th {
    padding: 0.5em 0.5em;
    cursor: default;
    border: 2px solid #004696;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* .days-body thead .days-row th:hover{
    color:yellow;
    transition: .5s;
} */

.cal .days-row {
    background-color: #004696;
}

.calendar-days td {
    padding: .25em 2.5em 4em 3em;
    cursor: default;
    border: 2px solid #004696;
    text-align:center;
    transition: all 600ms;
    font-size: 15px;
    color: #000;
    font-weight: bold;
}

.calendar-days td:hover {
    background: #3F51B5;
}

.cal .day {
    position: relative
}

.cal #event-date {
    display: block;
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: #004696;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

/******** Category *********/
.cal .category {
    display: flex;
    justify-content: center;
}
.cal select#cat {
    padding: 15px 10px;
    width: 30%;
    color: #3f51b5;
    font-weight: bold;
    border-color: #d9d9d9;
    border-radius: 5px;
}
.cal select:focus,
.cal select:active {
    outline: none;
}
.cal select#cat option {
    padding: 15px;
}
.cal option:active {
    display: block;
    text-transform: capitalize;
}

/****** Events ********/

.cal .event-container{
    border-left:none;
    display: flex;
    width:433px;
    height: 425px;
    border: 2px solid black;
    overflow:hidden;
    overflow-y: auto;
    color: #000;
    font-weight: bold;
}

.cal .events{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center; /*center children horizontally*/
    overflow-y: auto;
    justify-content: start;
    padding: 10px auto;
    width: 100%;
}

.cal .events .event-message{
    margin: 0 auto;
    padding: 5px 0px;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    font-size: 15px;
}

.cal .label-desc,
.cal .label-time {
    margin: 0 auto;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.cal .event-message {
    display: block;
}

.cal #eventDiv {
    display: block;
    width: 100%;
    font-size: 17px;
}

.cal #event-row {
    padding: 10px;
}
.cal #label {
    padding: 5px 10px;
}

.cal #event-row a {
    color: #000;
}

.cal .event-desc,
.cal .label-desc {
    /* align-self: flex-start; */
    word-wrap: break-word;
    flex-shrink: 0;
    /* order: -1; */
    font-weight: bold;
    position: relative;
    width: 75%;
    display: inline-block;
}

.cal .event-time {
    width: 25%;
    display: inline-block;
    text-align: center;
}

.cal .label-time {
    width: 21%;
    display: inline-block;
    text-align: center;
}

.cal .no-Events {
    padding: 15px 10px;
    text-align: center;
}

.cal .hasEvent {
    background: #dd9756;
}

.cal .active {
    background: blue;
}

.cal .today {
    /* background: #4CAF50 !important; */
    color: #4CAF50 !important;
}

.cal .active.day {
    background: #3F51B5;
    color: #fff !important;
}

.cal .active-event:before {
    /* background: pink; */
    content: attr(data-char);
    display: block;
    background: #6d6d6d;
    width: 25px;
    height: 25px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 25px;
    right: 35px;
}

/****animations*******/

.cal .hidden {
    height: 0; opacity: 0; width: 0;
    overflow: hidden;
    transition: height 0ms 400ms, opacity 200ms 0ms, width 0ms 0ms;
}

.cal .visible {
    height: 100%; opacity: 1; width: 100%;
    transition: height 200ms 0ms, opacity 600ms 200ms, width 0ms 0ms;
}

.cal .swingHide {
    opacity: 0;
    transform: rotateY(-90deg);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.cal .show {
    opacity: 1;
    transform: none;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

@media only screen and (max-width: 768px){
    .cal .section-wrapper.cal {
        max-width: 100%;
    }
    .cal select#cat {
        width: 75%;
    }
    .cal .calendar-container {
        padding: 0;
        /* display: block; */
    }
    .cal .calendar {
        /* display: block; */
        margin-bottom: 15px;
        width: 100%;
        min-height: auto;
    }
    .cal .date-header {
        width: 100%;
    }
    .cal .days-body thead .days-row th {
        padding: 0.5em 1em;
        font-size: 10px;
    }
    .cal .calendar-days td {
        padding: 0.25em 0em 2em 0em;
        font-size: 13px;
    }
    .cal .active-event:before {
        top: 25px;
        right: 25px;
        width: 18px;
        height: 18px;
    }
    .cal .event-container {
        width: 45%;
        height: auto;
    }
}

@media only screen and (max-width: 375px){
    .cal .section-wrapper.cal {
        max-width: 100%;
    }
    .cal select#cat {
        width: 100%;
    }
    .cal .calendar-container {
        padding: 0;
        display: block;
    }
    .cal .calendar {
        display: block;
        margin-bottom: 15px;
    }
    .cal .date-header {
        width: 100%;
    }
    .cal .days-body thead .days-row th {
        padding: 0.5em 0.47em;
        font-size: 8px;
    }
    .cal .calendar-days td {
        padding: 0.25em 0em 2em 0em;
    }
    .cal .active-event:before {
        top: 25px;
        right: 20px;
        width: 15px;
        height: 15px;
    }
    .cal .event-container {
        width: 100%;
        height: auto;
    }
}


/******  EURO HUB STYLE  *******/

/* home vid container */
.home-banner > div.euro-main-vid{
/*  max-width: 620px; */
    min-width: 585px;
    height: 420px;
    margin-right: 19px;
    position: relative;
    display: inline-flex;
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px;
}

/* anchor link for the video */
.home-banner > div.euro-main-vid video,
.home-banner > div.euro-main-vid a{
    height: 70%;
    width: 100%;
}

/* video text inside the container */
.euro-main-text-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 96.8%;
    min-height: 110px;
    height: auto;
    padding: 0px 5px;
}

.euro-main-text-container p,
.euro-main-text-container h2,
.euro-most-read-list h2,
.euro-most-read-imgs-title p,
.euro-most-read-imgs-title h3,
.euro-news-wrapper h2,
.euro-thumb-desc h3,
.euro-thumb-desc p{
    font-weight: normal;
    line-height: 1.09;
    letter-spacing: 0px;
    font-family: Lato-Regular;
    color: #41494e;
    margin: 10px 0px;
}

.euro-main-text-container h2,
.euro-most-read-list h2,
.euro-news-wrapper h2{
    font-size: 26px;
}
.euro-most-read-imgs-title h3,
.euro-thumb-desc h3
{
    font-size: 18px;
    font-weight: bold;
}

.euro-main-text-container p,
.euro-most-read-imgs-title p {
    font-size: 15px;
}


/* euro most read list */

.home-banner > div.euro-most-read-list {
        max-width: 420px;
    padding: 0px 18px;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 0px;
    overflow: auto;
}


.euro-most-read-list .euro-most-read-imgs {
   width: 100%;
       height: 149.5px;
    margin-bottom: 18px;
    position: relative;
    display: block;
    overflow: hidden;
}

.euro-most-read-list
.euro-most-read-imgs img {
 width: 50%;
    height: 149px;
    object-fit: cover;
    object-position: 50% 0%;
}

.home-banner > div.euro-most-read-list hr, .euro-news-wrapper hr {
    margin-bottom: 20px;
}

.euro-most-read-list .euro-most-read-imgs a{
    display: flex;
}

.euro-most-read-imgs-title {
    width: 50%;
    display: block;
    position: relative;
    top: 0;
    min-height: 30px;
    padding: 0px 10px;
}

.euro-home-content {
    margin: 20px 0 0;
    background-color: #ffffff;
    padding: 30px 0px;
}

.euro-main-content-container{
        padding: 0px;
}

.euro-home-cta {
  width: 420px;
  height: 56px;
  padding: 16px 186px 16px 186px;
  border-radius: 2px;
  background-color: #78be20;
    margin: auto;
    margin-bottom: 30px;
}

.euro-home-cta span {
  width: 48px;
  height: 24px;
  font-family: Lato-Regular;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.01px;
  text-align: center;
  color: #ffffff;
}

.euro-main-content-container p{
    color: #41494e;
}

/* euro main content category sections */

.euro-news-item {
    display: inline-block;
    vertical-align: top;
    width: 510px;
    padding: 8px;
}

.euro-news-item-thumb{
     width: 119px;
    margin: 0px 3px;
}

.euro-news-item .euro-news-img {
    height: 290px;
    overflow: hidden;
    display: flex;
}

.euro-news-item-thumb .euro-news-sm-img {
    height: 72px;
    overflow: hidden;
    display: flex;
}

.euro-news-item .euro-news-img img, .euro-news-item-thumb .euro-news-sm-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.euro-news-item .euro-news-text, .euro-news-item-thumb .euro-news-text {
    font-family: Lato-Regular;
    font-size: 13px;
    min-height: 130px;
    letter-spacing: normal;
    color: #ffffff;
    padding: 12px 5px;
}

.euro-news-item .euro-news-text .euro-news-title {
    line-height: normal;
}
.euro-news-item .euro-news-text .euro-news-title a,
.euro-news-item .euro-news-text .euro-news-desc,
.euro-news-item .euro-news-text .euro-news-title-lg a,
.euro-news-item .euro-news-text .euro-news-desc-lg,
.euro-news-item-thumb .euro-news-text .euro-news-desc,
.euro-news-item-thumb .euro-news-text .euro-news-title a{
    color: #41494e;
}

.euro-news-item .euro-news-text .euro-news-desc,
.euro-news-item-thumb .euro-news-text .euro-news-desc{
    font-size: 11px;
    line-height: 1.27;
}

/* big thumb */
.euro-news-item .euro-news-text .euro-news-title-lg a{
    font-weight: bold;
    font-size: 19px;
}

.euro-news-item .euro-news-text .euro-news-desc-lg,
.euro-main-content-container p{
    font-size: 16px;
    line-height: 1.27;
}


.euro-news-wrapper {
    font-size: 0;
}

.euro-news-wrapper-inner{
        display: flex;
    justify-content: space-between;
}

.euro-news-item .euro-news-sm-img {
    height: 75px;
    overflow: hidden;
    display: flex;
}

.euro-sm-cont{
     display: flex;
    justify-content: space-between;
}

.euro-sm-cont-wrapper{
    display: flex;
    justify-content: space-around;
}
.euro-sm-cont-wrapper,
.euro-two-col-desc
{
     margin-bottom: 40px;
}


.euro-news-item-thumb .euro-news-text .euro-news-title{
    font-weight: bold;
}

.euro-thumb-desc-wrapper{
    position: relative;
    display: flex;
    height: auto;
}

.euro-thumb-desc-wrapper .euro-thumb-desc{
    position: relative;
    display: block;
    width: 50%;
    padding: 0px 10px;
}
