
@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueMedium.woff') format('woff'), url('HelveticaNeueMedium.ttf')  format('truetype'), url('HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
