
@font-face {
  font-family: 'BreuerText';
  src: url('BreuerText.eot?#iefix') format('embedded-opentype'),  url('BreuerText.woff') format('woff'), url('BreuerText.ttf')  format('truetype'), url('BreuerText.svg#BreuerText') format('svg');
  font-weight: normal;
  font-style: normal;
}
